body {
    background-color: #181818;
}

.center {
    text-align: center;
}

.big {
    font-size: 2.5em;
    color: #E7F5FF;
    font-weight: bold;
}

.archivo-text {
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}